{
	"singleQuote": true,
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true
}
